[package]
name = "leader"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
paladin-core = { workspace = true }
clap = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true }
dotenvy = { workspace = true }
tokio = { workspace = true }
proof_gen = { workspace = true }
serde_json = { workspace = true }
serde_path_to_error = { workspace = true }
ethereum-types = { workspace = true }
axum = "0.7.4"
toml = "0.8.12"

# Local dependencies
ops = { path = "../ops" }
prover = { path = "../prover" }
rpc = { path = "../rpc" }
common = { path = "../common" }

[features]
default = []
test_only = ["ops/test_only", "prover/test_only"]
