[package]
name = "rpc"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true }
protocol_decoder = { workspace = true }
serde_json = { workspace = true }
serde_path_to_error = { workspace = true }
clap = { workspace = true }
ethereum-types = { workspace = true }
plonky2_evm = { workspace = true }
thiserror = { workspace = true }

reqwest = { version = "0.11.22", default-features = false, features = [
  "json",
  "rustls-tls",
] }


# Local dependencies
common = { path = "../common" }
futures = "0.3.29"
hex = "0.4.3"
hex-literal = "0.4.1"
prover = { path = "../prover" }
