[package]
name = "rpc"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true }
trace_decoder = { workspace = true }
serde_json = { workspace = true }
clap = { workspace = true }
evm_arithmetization = { workspace = true }
thiserror = { workspace = true }
alloy.workspace = true
futures = { workspace = true }
hex = "0.4.3"
hex-literal = "0.4.1"
itertools = "0.13.0"
url = "2.5.0"
common = { path = "../common" }
prover = { path = "../prover" }
__compat_primitive-types = { version = "0.12.2", package = "primitive-types" }
