# Alphabetically, by-category

# Build artifacts
#################
# Ours
/circuits
# Rust's
/target

# Editors
#########
/.idea/
/.vscode
/*.iml

# Misc
######
/**/*.ignoreme
/**/*.ipynb
/**/*.log

# Proof artifacts
#################
/proofs
/**/*.zkproof
