[workspace]
members = ["mpt_trie", "proof_gen", "trace_decoder", "evm_arithmetization"]
resolver = "2"

[workspace.dependencies]
bytes = "1.5.0"
enum-as-inner = "0.6.0"
env_logger = "0.10.0"
ethereum-types = "0.14.1"
hex = "0.4.3"
hex-literal = "0.4.1"
keccak-hash = "0.10.0"
log = "0.4.20"
num = "0.4.1"
rand = "0.8.5"
rlp = "0.5.2"
rlp-derive = "0.1.0"
serde = "1.0.166"
serde_json = "1.0.96"
thiserror = "1.0.49"

# plonky2-related dependencies
plonky2 = "0.2.2"
plonky2_maybe_rayon = "0.2.0"
plonky2_util = "0.2.0"
starky = "0.4.0"


[workspace.package]
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/0xPolygonZero/zk_evm"
homepage = "https://github.com/0xPolygonZero/zk_evm"
keywords = ["cryptography", "STARK", "plonky2", "ethereum", "zk"]
