[package]
name = "smt_utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.4.0"
enum-as-inner = "0.5.1"
ethereum-types = "0.14.1"
hex = "0.4.3"
keccak-hash = "0.10.0"
parking_lot = { version = "0.12.1", features = ["serde"] }
thiserror = "1.0.40"
log = "0.4.17"
num-traits = "0.2.15"
uint = "0.9.5"
rlp = "0.5.2"
serde = { version = "1.0.160", features = ["derive", "rc"] }

[dev-dependencies]
eth_trie = "0.1.0"
pretty_env_logger = "0.4.0"
rand = "0.8.5"
rlp-derive = "0.1.0"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
