[package]
name = "prover"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
serde = { workspace = true }
plonky_block_proof_gen = { workspace = true }
protocol_decoder = { workspace = true }
tracing = { workspace = true }
paladin-core = { workspace = true }
ethereum-types = { workspace = true }
anyhow = { workspace = true }

# Local dependencies
ops = { path = "../ops" }
