/target

# Default extension for generated block proofs
*.zkproof

# Folder containing all the locally generated circuit data
circuits/

# Folders containing logs from the utility scripts in tools/
debug/
proofs/

# Serialized generated prover & verifier state used by plonky2
prover_state_*
verifier_state_*


# Ignore IntelliJ IDEA/RustRover/Clion metadata
.idea/

# System files
.DS_Store
