[package]
name = "trace_decoder"
description = "Processes trace payloads into Intermediate Representation (IR) format."
authors = ["Polygon Zero <bgluth@polygon.technology>"]
version = "0.4.0"
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true

[dependencies]
ciborium = { workspace = true }
enum-as-inner = { workspace = true }
enumn = { workspace = true }
ethereum-types = { workspace = true }
hex = { workspace = true }
keccak-hash = { workspace = true }
log = { workspace = true }
rlp = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }
serde_json = { workspace = true }
plonky2 = { workspace = true }


# Local dependencies
mpt_trie = { workspace = true }
evm_arithmetization = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
pretty_env_logger = { workspace = true }
serde_json = { workspace = true }

[[bench]]
name = "block_processing"
harness = false
