[package]
name = "proof_gen"
description = "Generates block proofs from zero proof IR."
version = "0.1.0"
authors = ["Polygon Zero <bgluth@polygon.technology>"]
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
keywords.workspace = true

[dependencies]
ethereum-types = { workspace = true }
log = { workspace = true }
paste = "1.0.14"
plonky2 = { workspace = true }
serde = { workspace = true }

# Local dependencies
trace_decoder = { version = "0.1.0", path = "../trace_decoder" }
evm_arithmetization = { version = "0.1.0", path = "../evm_arithmetization" }
