[package]
name = "common"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
thiserror = { workspace = true }
tracing = { workspace = true }
proof_gen = { workspace = true }
plonky2 = { workspace = true }
evm_arithmetization = { workspace = true }
clap = { workspace = true }
anyhow = { workspace = true }
trace_decoder = { workspace = true }
seahash = "4.1.0"
